doctype html
html
    head
        title= `${title}`
        //- link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        link(rel='stylesheet', href='/css/styles.css')

    body
        div.container.listing-reg
            h1 My Amazing App

            block content
            
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')        