/* Nest Nav */
@import "colors.scss";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $color-white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    text-align: left;
    padding: 2px 2px;
    text-decoration: none;
    color: $color-white;
  }